/*  your css code here. If applicable */
.container{
	width:500px;
	height:200px;
	background-color:rgb(211,211,211);
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:40px;
	border:5px solid black;
}
.container>div{
	width:100px;
	height:100px;
	
	border-radius:50%;
	margin:5px;
}
div:first-child{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
div:last-child{
	background-color:red;
}







